body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 15px;
    
}

table {
	width: 60%;
	border-collapse: collapse;
}

caption {
	font-size: 15px;
	margin-bottom: 10px;
}

th,
td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tfoot td {
	font-weight: bold;
}
aside {
    float: inline-end;
    width: 25%;
    margin: 0;
    margin-right: 0;
    margin-left: 0%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}
aside li a {
    display: flex;
    justify-content: flex-end;
}